
.item{
    border:1px solid black;
    width: 50%;
    height: 200px;
    background-color: aquamarine;
}
nav{
    margin-left:0px;
    font-size: large;
    margin-top:0px;
}

section{
    margin-left:25%;
    padding-left: 10px;
    margin-top: 550px;
}

footer{
    margin-left:50%;
    padding-left: 10px;
    margin-top: 600px;
}